body {
  line-height: 1.4rem;
}

.container-fluid {
  padding: 0 0 0 0;
}

.filter-menu {
  margin-bottom: 4rem;
}

.list-loop {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 5%;
  grid-template-rows: 20%;
  grid-row-gap: 4rem;
}

.loop-item {
  /*margin: 4rem auto 4rem auto;*/
  display: grid;
  grid-template-columns: 65% 35%;
  grid-column-gap: 5%;
}

.loop-image {
  align-self: stretch;
}

.loop-details > h3 {
  margin-top: 0;
}
