/* Coolors Exported Palette - coolors.co/c7eae4-a7e8bd-c9bc85-efa7a7-ffd972 */

/* HSL */
/*$blue: hsla(170%, 45%, 85%, 1);
$green: hsla(140%, 59%, 78%, 1);
$beige: hsla(49%, 39%, 65%, 1);
$mauve: hsla(0%, 69%, 80%, 1);
$gold: hsla(44%, 100%, 72%, 1);*/

/* RGB */
/*$blue: rgba(199, 234, 228, 1);
$green: rgba(167, 232, 189, 1);
$beige: rgba(201, 188, 133, 1);
$mauve: rgba(239, 167, 167, 1);
$gold: rgba(255, 217, 114, 1);*/

.blue {
  color: rgba(161, 234, 222, 1);
}

.green {
  color: rgba(167, 232, 189, 1);
}

.beige {
  color: rgba(201, 188, 133, 1);
}

.mauve {
  color: rgba(239, 167, 167, 1);
}

.gold {
  color: rgba(255, 217, 114, 1);
}

body {
	font-size: 1.7rem;
	font-family: Alegreya Sans;
	line-height: 1.2;
}

h1 span {
	font-family: Luckiest Guy;
	line-height: 1.000;
	font-size: 8rem;
	font-weight: 400;
	font-style: normal;
}

h2, h3 {
  font-family: Luckiest Guy;
	line-height: 1.375;
	font-weight: 400;
	font-style: normal;
}

h4, h5, h6 {
	font-family: Alegreya Sans;
	line-height: 1.375;
	font-weight: 400;
	font-style: normal;
}

p {
	font-size: 1.7rem;
	font-weight: 300;
	font-style: normal;
  line-height: 1.5rem;
  /*padding: 0.2 0 0.2 0;*/
}

strong {
  font-weight: 500;
}

h1 .f, h1 .z {
  font-size: 10rem;
}

.img-responsive {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.container-fluid {
  padding: 0 0 0 0;
}

.main {
  padding: 4rem 6rem 6rem 2.5rem;
}

/*.animal-list h2 {
  color: rgba(239, 167, 167, 1);
}*/

.filter-menu {
  margin-bottom: 4rem;
}

.list-loop {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 5%;
  grid-template-rows: 20%;
  grid-row-gap: 4rem;
}

.loop-image {
  align-self: stretch;
  position: relative;
  overflow: hidden;
}

.loop-details {
  position: absolute;
  overflow-y: scroll;
  left: 65%;
  height: 100%;
  background-color: rgba(255, 217, 114, 0.7);;
  padding: 2rem;
  line-height: 1.2rem;
  z-index: 999;
}

.loop-details > h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

.loop-details > h4 {
  margin-top: 0;
  line-height: 1.2;
}

.new-animal {
  margin-top: 4rem;
}

.main h2, .new-animal h2, .edit-animal h2 {
  color: rgba(201, 188, 133, 1);
  margin-bottom: 2rem;
}

.new-animal-form, .edit-animal-form {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 5%;
}

.form-group {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 5%;
}
